<launch>
	<arg name="marker_size" default="4.4" />
	<arg name="max_new_marker_error" default="0.08" />
	<arg name="max_track_error" default="0.2" />
	<arg name="cam_image_topic" default="/camera1/image_color" />
	<arg name="cam_info_topic" default="/camera1/camera_info" />	
	<arg name="output_frame" default="/camera1" />

	<node name="ar_track_alvar" pkg="ar_track_alvar" type="individualMarkersNoKinect" respawn="false" output="screen" args="$(arg marker_size) $(arg max_new_marker_error) $(arg max_track_error) $(arg cam_image_topic) $(arg cam_info_topic) $(arg output_frame)" />

<!--double check image remap-->

		<param name="image_is_rectified" type="bool" value="true"/>
		<param name="marker_size" type="double" value="0.05"/>
		<param name="board_config" type="string" value="$(find ar_sys)/data/single/board.yml"/>
		<param name="board_frame" type="string" value="/board1" />
		<param name="draw_markers" type="bool" value="false" />
		<param name="draw_markers_cube" type="bool" value="true" />
		<param name="draw_markers_axis" type="bool" value="false" />
	</node>

	<node pkg="elf_baxter" type="needed_present_identifier.py" name="present_identity_node" output="screen" >
	</node>

</launch>
